<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  {% include '../include/admin/header.html' %} 
  <!-- Left side column. contains the logo and sidebar -->
  {% include '../include/admin/sidebar.html' %} 


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">    
    <section class="content-header">
      <h1>
        Homepage Text
        <small>Homepage Details</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">view homepage text</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">  
    {% autoescape false %}{{ flashMessage }}{% endautoescape %}       
      <div class="box box-default">
       <div class="box-header">
              <h3 class="box-title">Homepage Text Details</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Sr No.</th>
                  <th>Title</th>
                  <th>Action</th>                  
                </tr>
                </thead>
                <tbody>
                	 {% if data.length!='' %}
                	  {% set i = 1 %}
                     {% for data in data %}                    
                       <tr>
	                    <td>{{i}}</td>                  
	                     <td>{{data.header}}</td>
	                     <td>
	                     	
                     	<a href="/admin/edit-homepage-text?id={{data.id}}"><i class="fa fa-edit"></i>&nbsp;&nbsp;</a>
                     	<a href="/admin/view-homepage-text?id={{data.id}}&type=del" onclick="return confirm('Are you sure want to delete?')"><i class="fa fa-times"></i>&nbsp;&nbsp;</a>
                     	{% if data.active==1 %}
                     	<a href="/admin/view-homepage-text?id={{data.id}}&type=dact" title="Deactive this"><i class="fa fa-check"></i></i>&nbsp;&nbsp;</a>
                     	{% endif %}
                     	{% if data.active==0 %}
                     	<a href="/admin/view-homepage-text?id={{data.id}}&type=act" title="Active this"><i class="fa fa-ban"></i></i></i></a>
                     	{% endif %}
	                     </td>                  
	                   </tr>
					 {% set i=i+1 %}
                     {% endfor %}
                     {% endif %}
              
               
                
                </tbody>
                <tfoot>
                <tr>
                  <th>Sr No.</th>
                  <th>Title</th>
                  <th>Action</th>   
                </tr>
                </tfoot>
              </table>
            </div>
       
      </div>
    </section>
  </div>

  <!-- Control Sidebar -->
   {% include '../include/admin/rightsidebar.html' %}

  {% include '../include/admin/footer.html' %}

</body>
</html>
